@import url(https://fonts.googleapis.com/css?family=Hind+Madurai:300,regular,500,600,700);

@layer utilities {
  .font-hind {
    font-family: 'Hind Madurai', sans-serif;
  }
}
.call-btn:hover, .copy-btn:hover, #clear-btn:hover {
    cursor: pointer;
    translate: 0px -2px;
    background: gray;

}
.heart-btn:hover{
    cursor: pointer;
    color: red;
}